/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* top banner degins */
.TopBanner{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    display: flex;
    margin-bottom: 70px;
}
.leftSide{
    width: 50%;
}
.rightSide{
    width: 50%;
}
.rightSide img{
    margin-top: 135px;
    margin-bottom: 86px;
    margin-right: 141px;
    width: 80%;
}
h1{
    color: #FFFFFF;
    width: 485px;
    height: 230px;
    line-height: 80px;
    font-size: 64 px;
    font-weight: 700px;
    margin-top: 153px;
    margin-left: 106px;
    margin-right: 152px;
}
.linkDegin{
    margin-top: 81px;
    margin-left: 156px;
    margin-bottom: 169px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 24px;
    background-color: #E02C6D;
}
.fa-arrow-right{
    color: #FFFFFF;
    width: 24px;
    height: 24px;
}
/* player card */
.container{
    margin-left: 180px;
    margin-right: 210px;
}
.player{
    width: 330px;
    height: 474px;
    border: 15px solid #FFFFFF;
}
h3{
    font-weight: 300px;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.plyFont{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    font-weight: 300px;
}
.player img{
    width: 330px;
    height: 256px;
}